.btn-alt-primary {
  color: #007bff; }
  .btn-alt-primary:hover {
    color: #FFFFFF;
    background-color: #007bff;
    border-color: #007bff; }
  .btn-alt-primary.disabled, .btn-alt-primary:disabled {
    color: #007bff;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-primary:not(:disabled):not(.disabled):active, .btn-alt-primary:not(:disabled):not(.disabled).active, .show > .btn-alt-primary.dropdown-toggle {
    color: #FFFFFF;
    background-color: #007bff;
    border-color: #007bff; }

.btn-outline-x2-primary {
  color: #007bff;
  border-color: #007bff;
  border-width: 2px; }
  .btn-outline-x2-primary:hover {
    color: #FFFFFF;
    background-color: #007bff;
    border-color: #007bff; }
  .btn-outline-x2-primary.disabled, .btn-outline-x2-primary:disabled {
    color: #007bff;
    background-color: transparent; }
  .btn-outline-x2-primary:not(:disabled):not(.disabled):active, .btn-outline-x2-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-x2-primary.dropdown-toggle {
    color: #FFFFFF;
    background-color: #007bff;
    border-color: #007bff; }

.btn-alt-secondary {
  color: #6c757d; }
  .btn-alt-secondary:hover {
    color: #FFFFFF;
    background-color: #6c757d;
    border-color: #6c757d; }
  .btn-alt-secondary.disabled, .btn-alt-secondary:disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-secondary:not(:disabled):not(.disabled):active, .btn-alt-secondary:not(:disabled):not(.disabled).active, .show > .btn-alt-secondary.dropdown-toggle {
    color: #FFFFFF;
    background-color: #6c757d;
    border-color: #6c757d; }

.btn-outline-x2-secondary {
  color: #6c757d;
  border-color: #6c757d;
  border-width: 2px; }
  .btn-outline-x2-secondary:hover {
    color: #FFFFFF;
    background-color: #6c757d;
    border-color: #6c757d; }
  .btn-outline-x2-secondary.disabled, .btn-outline-x2-secondary:disabled {
    color: #6c757d;
    background-color: transparent; }
  .btn-outline-x2-secondary:not(:disabled):not(.disabled):active, .btn-outline-x2-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-x2-secondary.dropdown-toggle {
    color: #FFFFFF;
    background-color: #6c757d;
    border-color: #6c757d; }

.btn-alt-success {
  color: #28a745; }
  .btn-alt-success:hover {
    color: #FFFFFF;
    background-color: #28a745;
    border-color: #28a745; }
  .btn-alt-success.disabled, .btn-alt-success:disabled {
    color: #28a745;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-success:not(:disabled):not(.disabled):active, .btn-alt-success:not(:disabled):not(.disabled).active, .show > .btn-alt-success.dropdown-toggle {
    color: #FFFFFF;
    background-color: #28a745;
    border-color: #28a745; }

.btn-outline-x2-success {
  color: #28a745;
  border-color: #28a745;
  border-width: 2px; }
  .btn-outline-x2-success:hover {
    color: #FFFFFF;
    background-color: #28a745;
    border-color: #28a745; }
  .btn-outline-x2-success.disabled, .btn-outline-x2-success:disabled {
    color: #28a745;
    background-color: transparent; }
  .btn-outline-x2-success:not(:disabled):not(.disabled):active, .btn-outline-x2-success:not(:disabled):not(.disabled).active, .show > .btn-outline-x2-success.dropdown-toggle {
    color: #FFFFFF;
    background-color: #28a745;
    border-color: #28a745; }

.btn-alt-info {
  color: #17a2b8; }
  .btn-alt-info:hover {
    color: #FFFFFF;
    background-color: #17a2b8;
    border-color: #17a2b8; }
  .btn-alt-info.disabled, .btn-alt-info:disabled {
    color: #17a2b8;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-info:not(:disabled):not(.disabled):active, .btn-alt-info:not(:disabled):not(.disabled).active, .show > .btn-alt-info.dropdown-toggle {
    color: #FFFFFF;
    background-color: #17a2b8;
    border-color: #17a2b8; }

.btn-outline-x2-info {
  color: #17a2b8;
  border-color: #17a2b8;
  border-width: 2px; }
  .btn-outline-x2-info:hover {
    color: #FFFFFF;
    background-color: #17a2b8;
    border-color: #17a2b8; }
  .btn-outline-x2-info.disabled, .btn-outline-x2-info:disabled {
    color: #17a2b8;
    background-color: transparent; }
  .btn-outline-x2-info:not(:disabled):not(.disabled):active, .btn-outline-x2-info:not(:disabled):not(.disabled).active, .show > .btn-outline-x2-info.dropdown-toggle {
    color: #FFFFFF;
    background-color: #17a2b8;
    border-color: #17a2b8; }

.btn-alt-warning {
  color: #ffc107; }
  .btn-alt-warning:hover {
    color: #111111;
    background-color: #ffc107;
    border-color: #ffc107; }
  .btn-alt-warning.disabled, .btn-alt-warning:disabled {
    color: #ffc107;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-warning:not(:disabled):not(.disabled):active, .btn-alt-warning:not(:disabled):not(.disabled).active, .show > .btn-alt-warning.dropdown-toggle {
    color: #111111;
    background-color: #ffc107;
    border-color: #ffc107; }

.btn-outline-x2-warning {
  color: #ffc107;
  border-color: #ffc107;
  border-width: 2px; }
  .btn-outline-x2-warning:hover {
    color: #111111;
    background-color: #ffc107;
    border-color: #ffc107; }
  .btn-outline-x2-warning.disabled, .btn-outline-x2-warning:disabled {
    color: #ffc107;
    background-color: transparent; }
  .btn-outline-x2-warning:not(:disabled):not(.disabled):active, .btn-outline-x2-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-x2-warning.dropdown-toggle {
    color: #111111;
    background-color: #ffc107;
    border-color: #ffc107; }

.btn-alt-danger {
  color: #dc3545; }
  .btn-alt-danger:hover {
    color: #FFFFFF;
    background-color: #dc3545;
    border-color: #dc3545; }
  .btn-alt-danger.disabled, .btn-alt-danger:disabled {
    color: #dc3545;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-danger:not(:disabled):not(.disabled):active, .btn-alt-danger:not(:disabled):not(.disabled).active, .show > .btn-alt-danger.dropdown-toggle {
    color: #FFFFFF;
    background-color: #dc3545;
    border-color: #dc3545; }

.btn-outline-x2-danger {
  color: #dc3545;
  border-color: #dc3545;
  border-width: 2px; }
  .btn-outline-x2-danger:hover {
    color: #FFFFFF;
    background-color: #dc3545;
    border-color: #dc3545; }
  .btn-outline-x2-danger.disabled, .btn-outline-x2-danger:disabled {
    color: #dc3545;
    background-color: transparent; }
  .btn-outline-x2-danger:not(:disabled):not(.disabled):active, .btn-outline-x2-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-x2-danger.dropdown-toggle {
    color: #FFFFFF;
    background-color: #dc3545;
    border-color: #dc3545; }

.btn-alt-white {
  color: #fff; }
  .btn-alt-white:hover {
    color: #111111;
    background-color: #fff;
    border-color: #fff; }
  .btn-alt-white.disabled, .btn-alt-white:disabled {
    color: #fff;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-white:not(:disabled):not(.disabled):active, .btn-alt-white:not(:disabled):not(.disabled).active, .show > .btn-alt-white.dropdown-toggle {
    color: #111111;
    background-color: #fff;
    border-color: #fff; }

.btn-outline-x2-white {
  color: #fff;
  border-color: #fff;
  border-width: 2px; }
  .btn-outline-x2-white:hover {
    color: #111111;
    background-color: #fff;
    border-color: #fff; }
  .btn-outline-x2-white.disabled, .btn-outline-x2-white:disabled {
    color: #fff;
    background-color: transparent; }
  .btn-outline-x2-white:not(:disabled):not(.disabled):active, .btn-outline-x2-white:not(:disabled):not(.disabled).active, .show > .btn-outline-x2-white.dropdown-toggle {
    color: #111111;
    background-color: #fff;
    border-color: #fff; }

.btn-alt-light {
  color: #f8f9fa; }
  .btn-alt-light:hover {
    color: #111111;
    background-color: #f8f9fa;
    border-color: #f8f9fa; }
  .btn-alt-light.disabled, .btn-alt-light:disabled {
    color: #f8f9fa;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-light:not(:disabled):not(.disabled):active, .btn-alt-light:not(:disabled):not(.disabled).active, .show > .btn-alt-light.dropdown-toggle {
    color: #111111;
    background-color: #f8f9fa;
    border-color: #f8f9fa; }

.btn-outline-x2-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
  border-width: 2px; }
  .btn-outline-x2-light:hover {
    color: #111111;
    background-color: #f8f9fa;
    border-color: #f8f9fa; }
  .btn-outline-x2-light.disabled, .btn-outline-x2-light:disabled {
    color: #f8f9fa;
    background-color: transparent; }
  .btn-outline-x2-light:not(:disabled):not(.disabled):active, .btn-outline-x2-light:not(:disabled):not(.disabled).active, .show > .btn-outline-x2-light.dropdown-toggle {
    color: #111111;
    background-color: #f8f9fa;
    border-color: #f8f9fa; }

.btn-alt-dark {
  color: #343a40; }
  .btn-alt-dark:hover {
    color: #FFFFFF;
    background-color: #343a40;
    border-color: #343a40; }
  .btn-alt-dark.disabled, .btn-alt-dark:disabled {
    color: #343a40;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-dark:not(:disabled):not(.disabled):active, .btn-alt-dark:not(:disabled):not(.disabled).active, .show > .btn-alt-dark.dropdown-toggle {
    color: #FFFFFF;
    background-color: #343a40;
    border-color: #343a40; }

.btn-outline-x2-dark {
  color: #343a40;
  border-color: #343a40;
  border-width: 2px; }
  .btn-outline-x2-dark:hover {
    color: #FFFFFF;
    background-color: #343a40;
    border-color: #343a40; }
  .btn-outline-x2-dark.disabled, .btn-outline-x2-dark:disabled {
    color: #343a40;
    background-color: transparent; }
  .btn-outline-x2-dark:not(:disabled):not(.disabled):active, .btn-outline-x2-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-x2-dark.dropdown-toggle {
    color: #FFFFFF;
    background-color: #343a40;
    border-color: #343a40; }

.btn-facebook {
  color: #FFFFFF;
  background-color: #3b5999;
  border-color: #3b5999; }
  .btn-facebook:hover {
    color: #FFFFFF;
    background-color: #30497d;
    border-color: #2d4474; }
  .btn-facebook.disabled, .btn-facebook:disabled {
    color: #FFFFFF;
    background-color: #3b5999;
    border-color: #3b5999; }
  .btn-facebook:not(:disabled):not(.disabled):active, .btn-facebook:not(:disabled):not(.disabled).active, .show > .btn-facebook.dropdown-toggle {
    color: #FFFFFF;
    background-color: #2d4474;
    border-color: #293e6b; }

.btn-outline-facebook {
  color: #3b5999;
  border-color: #3b5999; }
  .btn-outline-facebook:hover {
    color: #FFFFFF;
    background-color: #3b5999;
    border-color: #3b5999; }
  .btn-outline-facebook.disabled, .btn-outline-facebook:disabled {
    color: #3b5999;
    background-color: transparent; }
  .btn-outline-facebook:not(:disabled):not(.disabled):active, .btn-outline-facebook:not(:disabled):not(.disabled).active, .show > .btn-outline-facebook.dropdown-toggle {
    color: #FFFFFF;
    background-color: #3b5999;
    border-color: #3b5999; }

.btn-alt-facebook {
  color: #3b5999; }
  .btn-alt-facebook:hover {
    color: #FFFFFF;
    background-color: #3b5999;
    border-color: #3b5999; }
  .btn-alt-facebook.disabled, .btn-alt-facebook:disabled {
    color: #3b5999;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-facebook:not(:disabled):not(.disabled):active, .btn-alt-facebook:not(:disabled):not(.disabled).active, .show > .btn-alt-facebook.dropdown-toggle {
    color: #FFFFFF;
    background-color: #3b5999;
    border-color: #3b5999; }

.btn-twitter {
  color: #FFFFFF;
  background-color: #1da1f2;
  border-color: #1da1f2; }
  .btn-twitter:hover {
    color: #FFFFFF;
    background-color: #0d8ddc;
    border-color: #0c85d0; }
  .btn-twitter.disabled, .btn-twitter:disabled {
    color: #FFFFFF;
    background-color: #1da1f2;
    border-color: #1da1f2; }
  .btn-twitter:not(:disabled):not(.disabled):active, .btn-twitter:not(:disabled):not(.disabled).active, .show > .btn-twitter.dropdown-toggle {
    color: #FFFFFF;
    background-color: #0c85d0;
    border-color: #0b7ec4; }

.btn-outline-twitter {
  color: #1da1f2;
  border-color: #1da1f2; }
  .btn-outline-twitter:hover {
    color: #FFFFFF;
    background-color: #1da1f2;
    border-color: #1da1f2; }
  .btn-outline-twitter.disabled, .btn-outline-twitter:disabled {
    color: #1da1f2;
    background-color: transparent; }
  .btn-outline-twitter:not(:disabled):not(.disabled):active, .btn-outline-twitter:not(:disabled):not(.disabled).active, .show > .btn-outline-twitter.dropdown-toggle {
    color: #FFFFFF;
    background-color: #1da1f2;
    border-color: #1da1f2; }

.btn-alt-twitter {
  color: #1da1f2; }
  .btn-alt-twitter:hover {
    color: #FFFFFF;
    background-color: #1da1f2;
    border-color: #1da1f2; }
  .btn-alt-twitter.disabled, .btn-alt-twitter:disabled {
    color: #1da1f2;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-twitter:not(:disabled):not(.disabled):active, .btn-alt-twitter:not(:disabled):not(.disabled).active, .show > .btn-alt-twitter.dropdown-toggle {
    color: #FFFFFF;
    background-color: #1da1f2;
    border-color: #1da1f2; }

.btn-google-plus {
  color: #FFFFFF;
  background-color: #dd4b39;
  border-color: #dd4b39; }
  .btn-google-plus:hover {
    color: #FFFFFF;
    background-color: #cd3623;
    border-color: #c23321; }
  .btn-google-plus.disabled, .btn-google-plus:disabled {
    color: #FFFFFF;
    background-color: #dd4b39;
    border-color: #dd4b39; }
  .btn-google-plus:not(:disabled):not(.disabled):active, .btn-google-plus:not(:disabled):not(.disabled).active, .show > .btn-google-plus.dropdown-toggle {
    color: #FFFFFF;
    background-color: #c23321;
    border-color: #b7301f; }

.btn-outline-google-plus {
  color: #dd4b39;
  border-color: #dd4b39; }
  .btn-outline-google-plus:hover {
    color: #FFFFFF;
    background-color: #dd4b39;
    border-color: #dd4b39; }
  .btn-outline-google-plus.disabled, .btn-outline-google-plus:disabled {
    color: #dd4b39;
    background-color: transparent; }
  .btn-outline-google-plus:not(:disabled):not(.disabled):active, .btn-outline-google-plus:not(:disabled):not(.disabled).active, .show > .btn-outline-google-plus.dropdown-toggle {
    color: #FFFFFF;
    background-color: #dd4b39;
    border-color: #dd4b39; }

.btn-alt-google-plus {
  color: #dd4b39; }
  .btn-alt-google-plus:hover {
    color: #FFFFFF;
    background-color: #dd4b39;
    border-color: #dd4b39; }
  .btn-alt-google-plus.disabled, .btn-alt-google-plus:disabled {
    color: #dd4b39;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-google-plus:not(:disabled):not(.disabled):active, .btn-alt-google-plus:not(:disabled):not(.disabled).active, .show > .btn-alt-google-plus.dropdown-toggle {
    color: #FFFFFF;
    background-color: #dd4b39;
    border-color: #dd4b39; }

.btn-instagram {
  color: #FFFFFF;
  background-color: #e4405f;
  border-color: #e4405f; }
  .btn-instagram:hover {
    color: #FFFFFF;
    background-color: #de1f44;
    border-color: #d31e40; }
  .btn-instagram.disabled, .btn-instagram:disabled {
    color: #FFFFFF;
    background-color: #e4405f;
    border-color: #e4405f; }
  .btn-instagram:not(:disabled):not(.disabled):active, .btn-instagram:not(:disabled):not(.disabled).active, .show > .btn-instagram.dropdown-toggle {
    color: #FFFFFF;
    background-color: #d31e40;
    border-color: #c81c3d; }

.btn-outline-instagram {
  color: #e4405f;
  border-color: #e4405f; }
  .btn-outline-instagram:hover {
    color: #FFFFFF;
    background-color: #e4405f;
    border-color: #e4405f; }
  .btn-outline-instagram.disabled, .btn-outline-instagram:disabled {
    color: #e4405f;
    background-color: transparent; }
  .btn-outline-instagram:not(:disabled):not(.disabled):active, .btn-outline-instagram:not(:disabled):not(.disabled).active, .show > .btn-outline-instagram.dropdown-toggle {
    color: #FFFFFF;
    background-color: #e4405f;
    border-color: #e4405f; }

.btn-alt-instagram {
  color: #e4405f; }
  .btn-alt-instagram:hover {
    color: #FFFFFF;
    background-color: #e4405f;
    border-color: #e4405f; }
  .btn-alt-instagram.disabled, .btn-alt-instagram:disabled {
    color: #e4405f;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-instagram:not(:disabled):not(.disabled):active, .btn-alt-instagram:not(:disabled):not(.disabled).active, .show > .btn-alt-instagram.dropdown-toggle {
    color: #FFFFFF;
    background-color: #e4405f;
    border-color: #e4405f; }

.btn-pinterest {
  color: #FFFFFF;
  background-color: #bd081c;
  border-color: #bd081c; }
  .btn-pinterest:hover {
    color: #FFFFFF;
    background-color: #980617;
    border-color: #8c0615; }
  .btn-pinterest.disabled, .btn-pinterest:disabled {
    color: #FFFFFF;
    background-color: #bd081c;
    border-color: #bd081c; }
  .btn-pinterest:not(:disabled):not(.disabled):active, .btn-pinterest:not(:disabled):not(.disabled).active, .show > .btn-pinterest.dropdown-toggle {
    color: #FFFFFF;
    background-color: #8c0615;
    border-color: #800513; }

.btn-outline-pinterest {
  color: #bd081c;
  border-color: #bd081c; }
  .btn-outline-pinterest:hover {
    color: #FFFFFF;
    background-color: #bd081c;
    border-color: #bd081c; }
  .btn-outline-pinterest.disabled, .btn-outline-pinterest:disabled {
    color: #bd081c;
    background-color: transparent; }
  .btn-outline-pinterest:not(:disabled):not(.disabled):active, .btn-outline-pinterest:not(:disabled):not(.disabled).active, .show > .btn-outline-pinterest.dropdown-toggle {
    color: #FFFFFF;
    background-color: #bd081c;
    border-color: #bd081c; }

.btn-alt-pinterest {
  color: #bd081c; }
  .btn-alt-pinterest:hover {
    color: #FFFFFF;
    background-color: #bd081c;
    border-color: #bd081c; }
  .btn-alt-pinterest.disabled, .btn-alt-pinterest:disabled {
    color: #bd081c;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-pinterest:not(:disabled):not(.disabled):active, .btn-alt-pinterest:not(:disabled):not(.disabled).active, .show > .btn-alt-pinterest.dropdown-toggle {
    color: #FFFFFF;
    background-color: #bd081c;
    border-color: #bd081c; }

.btn-youtube {
  color: #FFFFFF;
  background-color: #cd201f;
  border-color: #cd201f; }
  .btn-youtube:hover {
    color: #FFFFFF;
    background-color: #ac1b1a;
    border-color: #a11918; }
  .btn-youtube.disabled, .btn-youtube:disabled {
    color: #FFFFFF;
    background-color: #cd201f;
    border-color: #cd201f; }
  .btn-youtube:not(:disabled):not(.disabled):active, .btn-youtube:not(:disabled):not(.disabled).active, .show > .btn-youtube.dropdown-toggle {
    color: #FFFFFF;
    background-color: #a11918;
    border-color: #961717; }

.btn-outline-youtube {
  color: #cd201f;
  border-color: #cd201f; }
  .btn-outline-youtube:hover {
    color: #FFFFFF;
    background-color: #cd201f;
    border-color: #cd201f; }
  .btn-outline-youtube.disabled, .btn-outline-youtube:disabled {
    color: #cd201f;
    background-color: transparent; }
  .btn-outline-youtube:not(:disabled):not(.disabled):active, .btn-outline-youtube:not(:disabled):not(.disabled).active, .show > .btn-outline-youtube.dropdown-toggle {
    color: #FFFFFF;
    background-color: #cd201f;
    border-color: #cd201f; }

.btn-alt-youtube {
  color: #cd201f; }
  .btn-alt-youtube:hover {
    color: #FFFFFF;
    background-color: #cd201f;
    border-color: #cd201f; }
  .btn-alt-youtube.disabled, .btn-alt-youtube:disabled {
    color: #cd201f;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-youtube:not(:disabled):not(.disabled):active, .btn-alt-youtube:not(:disabled):not(.disabled).active, .show > .btn-alt-youtube.dropdown-toggle {
    color: #FFFFFF;
    background-color: #cd201f;
    border-color: #cd201f; }

.btn-slack {
  color: #FFFFFF;
  background-color: #3aaf85;
  border-color: #3aaf85; }
  .btn-slack:hover {
    color: #FFFFFF;
    background-color: #30926f;
    border-color: #2d8968; }
  .btn-slack.disabled, .btn-slack:disabled {
    color: #FFFFFF;
    background-color: #3aaf85;
    border-color: #3aaf85; }
  .btn-slack:not(:disabled):not(.disabled):active, .btn-slack:not(:disabled):not(.disabled).active, .show > .btn-slack.dropdown-toggle {
    color: #FFFFFF;
    background-color: #2d8968;
    border-color: #2a7f61; }

.btn-outline-slack {
  color: #3aaf85;
  border-color: #3aaf85; }
  .btn-outline-slack:hover {
    color: #FFFFFF;
    background-color: #3aaf85;
    border-color: #3aaf85; }
  .btn-outline-slack.disabled, .btn-outline-slack:disabled {
    color: #3aaf85;
    background-color: transparent; }
  .btn-outline-slack:not(:disabled):not(.disabled):active, .btn-outline-slack:not(:disabled):not(.disabled).active, .show > .btn-outline-slack.dropdown-toggle {
    color: #FFFFFF;
    background-color: #3aaf85;
    border-color: #3aaf85; }

.btn-alt-slack {
  color: #3aaf85; }
  .btn-alt-slack:hover {
    color: #FFFFFF;
    background-color: #3aaf85;
    border-color: #3aaf85; }
  .btn-alt-slack.disabled, .btn-alt-slack:disabled {
    color: #3aaf85;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-slack:not(:disabled):not(.disabled):active, .btn-alt-slack:not(:disabled):not(.disabled).active, .show > .btn-alt-slack.dropdown-toggle {
    color: #FFFFFF;
    background-color: #3aaf85;
    border-color: #3aaf85; }

.btn-dribbble {
  color: #FFFFFF;
  background-color: #ea4c89;
  border-color: #ea4c89; }
  .btn-dribbble:hover {
    color: #FFFFFF;
    background-color: #e62a72;
    border-color: #e51e6b; }
  .btn-dribbble.disabled, .btn-dribbble:disabled {
    color: #FFFFFF;
    background-color: #ea4c89;
    border-color: #ea4c89; }
  .btn-dribbble:not(:disabled):not(.disabled):active, .btn-dribbble:not(:disabled):not(.disabled).active, .show > .btn-dribbble.dropdown-toggle {
    color: #FFFFFF;
    background-color: #e51e6b;
    border-color: #dc1a65; }

.btn-outline-dribbble {
  color: #ea4c89;
  border-color: #ea4c89; }
  .btn-outline-dribbble:hover {
    color: #FFFFFF;
    background-color: #ea4c89;
    border-color: #ea4c89; }
  .btn-outline-dribbble.disabled, .btn-outline-dribbble:disabled {
    color: #ea4c89;
    background-color: transparent; }
  .btn-outline-dribbble:not(:disabled):not(.disabled):active, .btn-outline-dribbble:not(:disabled):not(.disabled).active, .show > .btn-outline-dribbble.dropdown-toggle {
    color: #FFFFFF;
    background-color: #ea4c89;
    border-color: #ea4c89; }

.btn-alt-dribbble {
  color: #ea4c89; }
  .btn-alt-dribbble:hover {
    color: #FFFFFF;
    background-color: #ea4c89;
    border-color: #ea4c89; }
  .btn-alt-dribbble.disabled, .btn-alt-dribbble:disabled {
    color: #ea4c89;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-dribbble:not(:disabled):not(.disabled):active, .btn-alt-dribbble:not(:disabled):not(.disabled).active, .show > .btn-alt-dribbble.dropdown-toggle {
    color: #FFFFFF;
    background-color: #ea4c89;
    border-color: #ea4c89; }

.btn-github {
  color: #FFFFFF;
  background-color: #222222;
  border-color: #222222; }
  .btn-github:hover {
    color: #FFFFFF;
    background-color: #0f0f0f;
    border-color: #090909; }
  .btn-github.disabled, .btn-github:disabled {
    color: #FFFFFF;
    background-color: #222222;
    border-color: #222222; }
  .btn-github:not(:disabled):not(.disabled):active, .btn-github:not(:disabled):not(.disabled).active, .show > .btn-github.dropdown-toggle {
    color: #FFFFFF;
    background-color: #090909;
    border-color: #020202; }

.btn-outline-github {
  color: #222222;
  border-color: #222222; }
  .btn-outline-github:hover {
    color: #FFFFFF;
    background-color: #222222;
    border-color: #222222; }
  .btn-outline-github.disabled, .btn-outline-github:disabled {
    color: #222222;
    background-color: transparent; }
  .btn-outline-github:not(:disabled):not(.disabled):active, .btn-outline-github:not(:disabled):not(.disabled).active, .show > .btn-outline-github.dropdown-toggle {
    color: #FFFFFF;
    background-color: #222222;
    border-color: #222222; }

.btn-alt-github {
  color: #222222; }
  .btn-alt-github:hover {
    color: #FFFFFF;
    background-color: #222222;
    border-color: #222222; }
  .btn-alt-github.disabled, .btn-alt-github:disabled {
    color: #222222;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-github:not(:disabled):not(.disabled):active, .btn-alt-github:not(:disabled):not(.disabled).active, .show > .btn-alt-github.dropdown-toggle {
    color: #FFFFFF;
    background-color: #222222;
    border-color: #222222; }

.btn-dropbox {
  color: #FFFFFF;
  background-color: #0070e0;
  border-color: #0070e0; }
  .btn-dropbox:hover {
    color: #FFFFFF;
    background-color: #005dba;
    border-color: #0057ad; }
  .btn-dropbox.disabled, .btn-dropbox:disabled {
    color: #FFFFFF;
    background-color: #0070e0;
    border-color: #0070e0; }
  .btn-dropbox:not(:disabled):not(.disabled):active, .btn-dropbox:not(:disabled):not(.disabled).active, .show > .btn-dropbox.dropdown-toggle {
    color: #FFFFFF;
    background-color: #0057ad;
    border-color: #0050a0; }

.btn-outline-dropbox {
  color: #0070e0;
  border-color: #0070e0; }
  .btn-outline-dropbox:hover {
    color: #FFFFFF;
    background-color: #0070e0;
    border-color: #0070e0; }
  .btn-outline-dropbox.disabled, .btn-outline-dropbox:disabled {
    color: #0070e0;
    background-color: transparent; }
  .btn-outline-dropbox:not(:disabled):not(.disabled):active, .btn-outline-dropbox:not(:disabled):not(.disabled).active, .show > .btn-outline-dropbox.dropdown-toggle {
    color: #FFFFFF;
    background-color: #0070e0;
    border-color: #0070e0; }

.btn-alt-dropbox {
  color: #0070e0; }
  .btn-alt-dropbox:hover {
    color: #FFFFFF;
    background-color: #0070e0;
    border-color: #0070e0; }
  .btn-alt-dropbox.disabled, .btn-alt-dropbox:disabled {
    color: #0070e0;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-dropbox:not(:disabled):not(.disabled):active, .btn-alt-dropbox:not(:disabled):not(.disabled).active, .show > .btn-alt-dropbox.dropdown-toggle {
    color: #FFFFFF;
    background-color: #0070e0;
    border-color: #0070e0; }

.btn-vk {
  color: #FFFFFF;
  background-color: #4a76a8;
  border-color: #4a76a8; }
  .btn-vk:hover {
    color: #FFFFFF;
    background-color: #3e638d;
    border-color: #3a5d85; }
  .btn-vk.disabled, .btn-vk:disabled {
    color: #FFFFFF;
    background-color: #4a76a8;
    border-color: #4a76a8; }
  .btn-vk:not(:disabled):not(.disabled):active, .btn-vk:not(:disabled):not(.disabled).active, .show > .btn-vk.dropdown-toggle {
    color: #FFFFFF;
    background-color: #3a5d85;
    border-color: #37577c; }

.btn-outline-vk {
  color: #4a76a8;
  border-color: #4a76a8; }
  .btn-outline-vk:hover {
    color: #FFFFFF;
    background-color: #4a76a8;
    border-color: #4a76a8; }
  .btn-outline-vk.disabled, .btn-outline-vk:disabled {
    color: #4a76a8;
    background-color: transparent; }
  .btn-outline-vk:not(:disabled):not(.disabled):active, .btn-outline-vk:not(:disabled):not(.disabled).active, .show > .btn-outline-vk.dropdown-toggle {
    color: #FFFFFF;
    background-color: #4a76a8;
    border-color: #4a76a8; }

.btn-alt-vk {
  color: #4a76a8; }
  .btn-alt-vk:hover {
    color: #FFFFFF;
    background-color: #4a76a8;
    border-color: #4a76a8; }
  .btn-alt-vk.disabled, .btn-alt-vk:disabled {
    color: #4a76a8;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-vk:not(:disabled):not(.disabled):active, .btn-alt-vk:not(:disabled):not(.disabled).active, .show > .btn-alt-vk.dropdown-toggle {
    color: #FFFFFF;
    background-color: #4a76a8;
    border-color: #4a76a8; }

.btn-reddit {
  color: #FFFFFF;
  background-color: #ff4401;
  border-color: #ff4401; }
  .btn-reddit:hover {
    color: #FFFFFF;
    background-color: #da3900;
    border-color: #cd3600; }
  .btn-reddit.disabled, .btn-reddit:disabled {
    color: #FFFFFF;
    background-color: #ff4401;
    border-color: #ff4401; }
  .btn-reddit:not(:disabled):not(.disabled):active, .btn-reddit:not(:disabled):not(.disabled).active, .show > .btn-reddit.dropdown-toggle {
    color: #FFFFFF;
    background-color: #cd3600;
    border-color: #c03300; }

.btn-outline-reddit {
  color: #ff4401;
  border-color: #ff4401; }
  .btn-outline-reddit:hover {
    color: #FFFFFF;
    background-color: #ff4401;
    border-color: #ff4401; }
  .btn-outline-reddit.disabled, .btn-outline-reddit:disabled {
    color: #ff4401;
    background-color: transparent; }
  .btn-outline-reddit:not(:disabled):not(.disabled):active, .btn-outline-reddit:not(:disabled):not(.disabled).active, .show > .btn-outline-reddit.dropdown-toggle {
    color: #FFFFFF;
    background-color: #ff4401;
    border-color: #ff4401; }

.btn-alt-reddit {
  color: #ff4401; }
  .btn-alt-reddit:hover {
    color: #FFFFFF;
    background-color: #ff4401;
    border-color: #ff4401; }
  .btn-alt-reddit.disabled, .btn-alt-reddit:disabled {
    color: #ff4401;
    background-color: transparent;
    border-color: transparent; }
  .btn-alt-reddit:not(:disabled):not(.disabled):active, .btn-alt-reddit:not(:disabled):not(.disabled).active, .show > .btn-alt-reddit.dropdown-toggle {
    color: #FFFFFF;
    background-color: #ff4401;
    border-color: #ff4401; }

/*
#####=== base/base.scss ===######

*/
header {
  background-color: #343a40;
  color: #6c757d;
  padding-top: 0.25rem;
  padding-bottom: 2px;
  margin-top: 0; }

html {
  font-size: 100%; }

body {
  position: relative;
  background-color: #F5F7FA; }

code {
  background-color: #F9F2F4;
  border-radius: 4px;
  color: #ca4440;
  font-size: 90%;
  padding: 2px 4px;
  white-space: nowrap; }

.btn:hover, .btn:focus,
.form-control:hover, .form-control:focus,
.custom-select:hover, .custom-select:focus,
.custom-file-input:hover, .custom-file-input:focus {
  outline: 0px !important;
  box-shadow: none !important; }

/* #####=== layout/layout.scss ===######

 */
#quick-nav {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translatey(-50%);
  margin: 0 20px;
  width: 200px; }
  @media (max-width: 767px) {
    #quick-nav {
      display: none; } }
  #quick-nav .nav-link {
    color: #586069;
    transition: .2s; }
    #quick-nav .nav-link.active {
      background-color: #6C757D;
      color: #fff;
      transition: .2s; }
  @media (max-height: 840px) {
    #quick-nav {
      font-size: .7rem;
      width: 130px; } }

#demo-components {
  position: relative;
  margin: 0 20px 0 240px; }
  #demo-components .example-block {
    background-color: transparent;
    margin-bottom: 40px;
    border-radius: 4px; }
    #demo-components .example-block::after {
      display: block;
      clear: both;
      content: ""; }
    #demo-components .example-block:last-child {
      margin-bottom: 60px; }
    #demo-components .example-block.example-static-dropdown .dropdown-menu {
      display: block;
      position: static; }
    #demo-components .example-block.example-static-popover .popover {
      position: relative; }
      #demo-components .example-block.example-static-popover .popover.bs-popover-top .arrow, #demo-components .example-block.example-static-popover .popover.bs-popover-bottom .arrow {
        right: 50%;
        transform: translatex(50%); }
      #demo-components .example-block.example-static-popover .popover.bs-popover-left .arrow, #demo-components .example-block.example-static-popover .popover.bs-popover-right .arrow {
        top: 50%;
        transform: translatey(-50%); }
    #demo-components .example-block.example-static-tooltip .tooltip {
      display: inline-block;
      opacity: 1;
      position: relative; }
      #demo-components .example-block.example-static-tooltip .tooltip.bs-tooltip-top .arrow, #demo-components .example-block.example-static-tooltip .tooltip.bs-tooltip-bottom .arrow {
        right: 50%;
        transform: translatex(50%); }
      #demo-components .example-block.example-static-tooltip .tooltip.bs-tooltip-left .arrow, #demo-components .example-block.example-static-tooltip .tooltip.bs-tooltip-right .arrow {
        top: 50%;
        transform: translatey(-50%); }
    #demo-components .example-block.example-static-modals .modal-demo {
      position: relative; }
      #demo-components .example-block.example-static-modals .modal-demo .demo-overlay {
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .5; }
      #demo-components .example-block.example-static-modals .modal-demo .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1;
        display: block; }
      #demo-components .example-block.example-static-modals .modal-demo .modal-dialog {
        left: auto;
        margin-right: auto;
        margin-left: auto; }
    #demo-components .example-block.example-static-toasts .toast {
      display: block;
      opacity: 1; }
    #demo-components .example-block .inline-block {
      display: inline-block;
      margin-right: 40px; }
  @media (max-width: 767px) {
    #demo-components {
      margin: 0 20px; } }

/* #####=== comps/comps.scss ===######

 */
#quick-nav {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translatey(-50%);
  margin: 0 20px;
  width: 200px; }
  @media (max-width: 767px) {
    #quick-nav {
      display: none; } }
  #quick-nav .nav-link {
    color: #586069;
    transition: .2s; }
    #quick-nav .nav-link.active {
      background-color: #6C757D;
      color: #fff;
      transition: .2s; }
  @media (max-height: 840px) {
    #quick-nav {
      font-size: .7rem;
      width: 130px; } }

#demo-components {
  position: relative;
  margin: 0 20px 0 240px; }
  #demo-components .example-block {
    background-color: transparent;
    margin-bottom: 40px;
    border-radius: 4px; }
    #demo-components .example-block::after {
      display: block;
      clear: both;
      content: ""; }
    #demo-components .example-block:last-child {
      margin-bottom: 60px; }
    #demo-components .example-block.example-static-dropdown .dropdown-menu {
      display: block;
      position: static; }
    #demo-components .example-block.example-static-popover .popover {
      position: relative; }
      #demo-components .example-block.example-static-popover .popover.bs-popover-top .arrow, #demo-components .example-block.example-static-popover .popover.bs-popover-bottom .arrow {
        right: 50%;
        transform: translatex(50%); }
      #demo-components .example-block.example-static-popover .popover.bs-popover-left .arrow, #demo-components .example-block.example-static-popover .popover.bs-popover-right .arrow {
        top: 50%;
        transform: translatey(-50%); }
    #demo-components .example-block.example-static-tooltip .tooltip {
      display: inline-block;
      opacity: 1;
      position: relative; }
      #demo-components .example-block.example-static-tooltip .tooltip.bs-tooltip-top .arrow, #demo-components .example-block.example-static-tooltip .tooltip.bs-tooltip-bottom .arrow {
        right: 50%;
        transform: translatex(50%); }
      #demo-components .example-block.example-static-tooltip .tooltip.bs-tooltip-left .arrow, #demo-components .example-block.example-static-tooltip .tooltip.bs-tooltip-right .arrow {
        top: 50%;
        transform: translatey(-50%); }
    #demo-components .example-block.example-static-modals .modal-demo {
      position: relative; }
      #demo-components .example-block.example-static-modals .modal-demo .demo-overlay {
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .5; }
      #demo-components .example-block.example-static-modals .modal-demo .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1;
        display: block; }
      #demo-components .example-block.example-static-modals .modal-demo .modal-dialog {
        left: auto;
        margin-right: auto;
        margin-left: auto; }
    #demo-components .example-block.example-static-toasts .toast {
      display: block;
      opacity: 1; }
    #demo-components .example-block .inline-block {
      display: inline-block;
      margin-right: 40px; }
  @media (max-width: 767px) {
    #demo-components {
      margin: 0 20px; } }

/* #####=== comps/formelements.scss ===######

 */
.btn-password {
  border: 1px solid #ccc;
  color: #aaa; }
  .btn-password:hover, .btn-password:active, .btn-password:focus {
    outline: 0px !important;
    box-shadow: none !important; }
  .btn-password.btn-password-right {
    border-left: 0; }
  .btn-password.btn-paaword-left {
    border-right: 0; }

.custom-color .form-control {
  appearance: none;
  padding: 0; }
  .custom-color .form-control::-webkit-color-swatch-wrapper {
    padding: 0; }
  .custom-color .form-control::-webkit-color-swatch {
    border: none;
    border-radius: .2rem; }
  .custom-color .form-control::-moz-color-swatch {
    border: none;
    border-radius: .2rem; }

/*# sourceMappingURL=style.css.map */
